{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?after=50">
    {% block style %}{% endblock %}
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css">
    {% block title %}{% endblock %}
</head>

<body>
    <div id="wrap">
        <div id="header-bar">
            <div class="menu-btn">
                <img alt="메뉴" width="30px" src="{% static 'images/menu.png' %}">
            </div>
            <div>
                <a href="{% url 'index' %}"><img class="home-logo" src="/static/images/logo.png" alt="로고"
                        width="90"></a>
            </div>
            <input type="text" id="user-search-list" class="user-search" placeholder="유저이름을 입력하세요.">
           

            <div class="user-box">
                {% if request.user.is_authenticated %}
                <div class="profile-image">
                    {% if request.user.profile_image %}
                    <img width="90" height="90" src="{{ request.user.profile_image.url }}" alt="프로필">
                    {% else %}
                    <img width="90" height="90" src="{% static 'images/basic_profile.png' %}" alt="프로필">
                    {% endif %}
                </div>
                <div class="profile-info">
                    <a class="loginout-btn" style="margin-bottom: 5px;"
                        href="{% url 'profile' request.user.nickname %}">MY
                        INFO</a>
                    <a class="loginout-btn" href="{% url 'logout' %}">LOGOUT</a>
                </div>
                {% else %}
                <div class="profile-info">
                    <a class="loginout-btn" style="margin-bottom: 5px;"
                        href="{% url 'login' %}?next={{ request.path }}">LOGIN</a>
                    <a class="loginout-btn" href="{% url 'signup' %}">SIGN UP</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div id="side-bar">
            <div class="menu-btn" style="margin-left: 85%">
                <img alt="메뉴" width="30px" src="{% static 'images/menu.png' %}">
            </div>
                <h2 style="text-align:center; margin-top:25px;">
                    {% if author %}
                        {{ author }}님의 카테고리
                    {% else %}
                        {% if request.user.is_authenticated %}
                            {{ request.user }}님의 카테고리
                        {% else %}
                            로그인을 해주세요
                        {% endif %}
                    {% endif %}
                </h2>
                {% if author == request.user or not author and request.user.is_authenticated %}
                <div class="side-bar-link">
                    <a style="margin-left:20px;" href="{% url 'blog_create' %}">글쓰기</a>
                    <a class="create-category" href="javascript:void(0)">카테고리 생성</a>
                </div>
                {% endif %}
                <div class="side-bar-list">
                    {% if author %}
                        {% for category in author.category_set.all %}
                            <div class="side-bar-content">
                                <a href="{% url 'view_posts' author category %}">{{ category }}</a>
                                &nbsp;<span style="font-size:14px;color:rgb(195, 37, 37);">({{ category.post_set.count }})</span>
                            </div>
                        {% endfor %}
                    {% elif request.user.is_authenticated %}
                        {% for category in request.user.category_set.all %}
                        <div class="side-bar-content">
                            <a href="{% url 'view_posts' request.user category %}">{{ category }}</a>
                            &nbsp;<span style="font-size:14px;color:rgb(195, 37, 37);">({{ category.post_set.count }})</span>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        <div id="main">
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="popup-layer">
            <div class="popup-box">
                <div class="popup-exit-btn">
                    <img src="{% static 'images/exit.png' %}" alt="나가기" width="35px">
                </div>
                <h1>카테고리 생성</h1>
                <div class="popup-content">
                    <div class="category-error"></div>
                    <input class="category-input" type="text" name="category_name" placeholder="카테고리 이름을 입력하세요.">
                </div>
                <div class="popup-btn">
                    <button class="loginout-btn" onclick="create_category()">생성</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function() {
            $("#user-search-list").autocomplete({
                source: function(request, response) {
                    $.ajax({
                url: "{% url 'user_search' %}",
                type: "get",
                data: {
                    'search_val': $("#user-search-list").val()
                },
                datatype: 'json',
                success: function (data) {
                    response(
                        $.map(data['user_list'], function(item) {
                            return {
                                label: item,
                                value: item,
                                test: item+"test"
                            }
                        })
                    );
                    
                }
            });
          },
          select : function(event, ui) {    //아이템 선택시
                location.replace("/account/" + ui.item.value)
          },       
          focus : function(event, ui) {  
              return false;  //한글 에러 잡기용도로 사용
          },
          minLength: 1, // 최소 글자수
          autoFocus: true, 
          classes: {    
              "ui-autocomplete": "highlight"
          },
          delay: 500, 
          position: { my : "right top", at: "right bottom" },   
          close : function(event){   
              console.log(event);
          }
            });
        });
        
        $('.menu-btn').click(function () {
            $('#side-bar').animate({ width: "toggle" }, 600);
        });
        $('.create-category').click(function(){
            $('#popup-layer')[0].style.display = 'block';
        });

        $('.popup-exit-btn').click(function(){
            $('#popup-layer')[0].style.display = 'none';
        });

        function create_category(node){
            var name = $('.category-input')[0].value;
            $.ajax({
                url: "{% url 'create_category' %}",
                type: 'post',
                data: {'name': name},
                dataType: 'json',
                success: function(data){
                    if(data['flag'] == true){
                        location.href = '/view_posts/' + '{{ request.user }}' + '/' + name
                    }else{
                        $('.category-error')[0].innerHTML = data['error'];
                    }
                }
            });
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
    {% block script %}
    {% endblock %}
</body>

</html>