{% extends 'base.html' %}
{% load static %}
{% block title %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile_update.css' %}?after=111">
    <title>{{ request.user.nickname }} 프로필 수정</title>
{% endblock %}

{% block content %}
<h1>{{ request.user.nickname }}님의 프로필 수정</h1>
    {% csrf_token %}
    <div class = "update_container">
        <div class = "update_name">
            <div class = "name_info">
                <b> 이름 : </b>  
            </div>
            <div>
                {{ form.name }}
            </div>
        </div>
        <hr>
        <div class = "update_nickname">
            <div class = "nickname_info">
                <b> 닉네임 : </b> 
            </div>
            <div>
                {{ form.nickname }}
            </div>
        </div>
        <hr>
        <div class = "update_birth_date">
            <div class = "birth_date_info">
                <b> 생일 : </b> 
            </div>
            <div>
                {{ form.birth_date }}
            </div>
        </div>
        <hr>
        <div class = "update_short_info">
            <div class = "short_info_info">
                <b> 자기소개 : </b> 
            </div>
            <div>
                {{ form.short_info }}
            </div>
        </div>
        <hr>
        <div class = "update_profile_image">
            <div class = "profile_image_info">
                <b> 프로필 이미지 : </b> 
            </div>
            <div>
                {{ form.profile_image }}
                {% if form.profile_image.name == 'profile_image' %}
                    {% if form.profile_image.value %}
                        <p>기존 프로필</p>
                        <div><img width="128" height="128" src="/media/{{ form.profile_image.value }}" alt="기존 프로필"></div>
                    {% endif %}
                <div id="image_container"></div>
                {% endif %}
                {{ field }}
            </div>
            <hr>
        </div>
        <hr>
        <br>
    </div>
        <input type="submit" value="적용">
        <br><br>
    </form>
    <a class="delete" href="javascript:void(0)" data-uri="{% url 'profile_delete' request.user.nickname %}">계정  삭제하기</a>
    <script>
        document.getElementById('id_profile_image').addEventListener('change', function(event){
            var reader = new FileReader();

            reader.onload = function(event) {
                var img = document.createElement("img");
                var p = document.createElement("p");
                img.width = "128";
                img.height = "128";
                img.setAttribute("src", event.target.result);
                p.innerText = '변경할 프로필';
                document.querySelector("div#image_container").innerHTML = '';
                document.querySelector("div#image_container").appendChild(p);
                document.querySelector("div#image_container").appendChild(img);
            };

            reader.readAsDataURL(event.target.files[0]);
        });
        $(".delete").click(function(){
            if(confirm('계정을 삭제하시겠습니까?\n되돌릴 수 없는 작업입니다.')){
                location.href = this.dataset.uri;
            }
        });
    </script>
{% endblock %}