@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
*{
    
}
#post_head{
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    margin: 50px 0 10px 5px;
}

.s_post_head{
    letter-spacing: 0.1em;
    font-size: 2vw;
    font-weight: 600;   
}
.hits{
    text-align: left;
    margin: 15px 0 10px 10px;
    font-size: 1vh;
    color:darkgray;
}

#post_writer{
       text-align: left;
       margin: 20px 0 0 10px;
}

.s_post_writer{
}
#post_main{
    /* justify-content: center;
    align-items: center; */
    
}
.s_post_good{
    height: 30px;
    border: 1px solid gray;
    border-radius: 12px;
    background-color: #dbedfe;
    cursor: pointer;
    padding: 0 10px;
}
.s_content_delete{
    float : right;
}
.s_content_again{
    float : right;

}
#post_title{
    font-family: 'Montserrat', sans-serif;
    margin: 100px 0 30px 20px ;
    text-align: left;
    font-size: 50px;
}
.post_content_me{
    background-color: aqua;
}
.s_post_content_me{
    background-color: blueviolet;
    text-align: right;
}
#post_main_left{
    
}
#post_post {
    background-color: plum;
}
#mb label{
     background-color: aquamarine;



}
#id_content{
    background-color: blueviolet;
    width: 100px;
    height: 50px;
}

.post-comment-author{
    margin: 100px 0 0 30px;
    text-align: left;
}

.post-comment-content{
text-align: left;
margin: 15px 0 0 30px;
}

.post-comment-createdate{
    color: darkgray;
    text-align: left;
    margin: 5px 0 0 31px;
    font-size: 1.1vh;

}
.post_button > *{
    float: left;    
    margin: 10px 0 10px 30px;
}

.post_button::after{
    content:"";
    display:block;
    clear:both;
}

.post_count{
    text-align: start;
    margin: 5px 0 0 30px;
    font-size: 13px;
}

.update-comment{
    text-align: left;
}

.update-comment-area{
    width: 600px;
    height: 110px;
    margin: 30px 0 0 30px;
    resize: none;
}

.hide{
    display: none;
}

.update_post_btn, .update_comment_btn{
    padding: 6px;
    border: 1px solid rgb(206, 206, 248);
    background-color: rgb(206, 206, 248);
    box-shadow: 1px 1px 3px 1px gray;
    cursor: pointer;
    border-radius: 4px;
}

.delete_post_btn, .delete_comment_btn{
    padding: 6px;
    border: 1px solid rgb(232, 153, 153);
    background-color: rgb(232, 153, 153);
    box-shadow: 1px 1px 3px 1px gray;
    cursor: pointer;
    border-radius: 4px;
}

.s_post_count{
    cursor: pointer;
}

.s_post_count:hover{
    color: rgb(26, 26, 190);
    text-decoration: underline;
}

.create-reply-btn{
    padding: 5px;
    margin: 7px 0 0 2px;
    background-color:rgb(206, 206, 248);
    border: 1px solid rgb(206, 206, 248);
    box-shadow: 1px 1px 3px 1px gray;
    border-radius: 4px;
    cursor: pointer;
}

.craete-reply-area{
    width: 99%;
    height: 55px;
    margin-top: 15px;
    border-radius: 6px;
    resize: none;
}