{% extends 'base.html' %}
{% load filter %}
{% load static %}
{% block content %}
    <link rel='stylesheet' href="{% static 'detail_post.css' %}?after=211 ">
    <div id="post_head">
        <span class="s_post_head">{{ post.category }}</span>    
    </div>
    <hr>
    <div id="post_main">
        <div id="post_writer"><span class="s_post_writer">
            👧🏻<a href="{% url 'profile' post.author.nickname %}">{{ post.author }}</a></span>
        </div>
        <div class="hits">
            <span class="s_hits">조회수 : {{post.hits}}</span></div>
            <div class="post-comment-createdate" style="margin-left:10px;">
                {{ post.create_date }}
                {% if post.modify_date %}
                    &nbsp;({{ post.modify_date }}에 수정됨)
                {% endif %}
            </div>
        <div id="post_title"><span class="s_post_title"> {{ post.title }}</></div>
        <hr/>
        <div id="content">{{ post.content|mark }}</div>
    </div>

    <!-- <div id="post_good">
        <a href="{# {% url 'post_vote' post.id %} #}"></a>
    </div> -->
    <div style="margin:60px 0 30px 0;">
        <button class ="s_post_good">좋아요 {{post.voter.count}} 💗</button>
    </div>
    
    {% if post.author == request.user %}  
        <div>
            <button class="update_post_btn" style="margin-right:15px" data-url="{% url 'blog_update' post.id %}">수정</button>
            <button class="delete_post_btn" data-url="{% url 'blog_delete' post.id %}">삭제</button>
        </div>
    {% endif %}
    <div class="comment-list">
        {% for comment in post.comment_set.all %}
            <div id="comment{{ comment.id }}">
                <div class="post-comment-author">작성자 - <a href="{% url 'profile' comment.author.nickname %}">{{comment.author.nickname}}</a> </div>
                <div class="post-comment-content comment-{{comment.id}}">
                    {{comment.content}}
                </div>
                <form action="{% url 'update_comment' comment.id %}" method="post" class="update-comment form-{{comment.id}} hide">
                    {% csrf_token %}
                    <textarea name="content" id="content-{{comment.id}}" class="update-comment-area">{{comment}}</textarea>
                    <input class="update_comment_btn" style="margin-left:20px;" type="submit" value="수정하기">
                </form>
                <div class="post-comment-createdate">
                    {{ comment.create_date }}
                    {% if comment.modify_date %}
                        &nbsp;({{ comment.modify_date }}에 수정됨)
                    {% endif %}
                </div>
                <div class="post_count">
                    <span class="s_post_count" data-comment="{{comment.id}}">답글개수 ({{ comment.reply_set.count }})</span>
                </div>
            {% if comment.author == request.user %}    
                <div class="post_button">
                    <button class="update_comment_btn" data-comment="{{comment.id}}">수정</button>
                    <button class="delete_comment_btn" data-url="{% url 'delete_comment' comment.id %}">삭제</button>
                </div>
            {% endif %}
            
        </div>
        {% endfor %}
        <form action="{% url 'create_comment' %}?post_id={{post.id}}" method="post" class="update-comment">
            {% csrf_token %}
            <textarea name="content" class="update-comment-area"></textarea>
            <input class="update_comment_btn" style="margin-left:20px;" type="submit" value="댓글쓰기">
        </form>
    </div> 
{% endblock %}

{% block script %}
<script>
    $('.update_comment_btn').click(function(){
        if(this.innerHTML == '수정'){
            this.innerHTML = '취소';
            $('.comment-' + this.dataset.comment).addClass('hide');
            $('.form-' + this.dataset.comment).removeClass('hide');
        }else{
            this.innerHTML = '수정';
            $('.comment-' + this.dataset.comment).removeClass('hide');
            $('.form-' + this.dataset.comment).addClass('hide');
        }
        
    });

    $('.delete_comment_btn').click(function(){
        if(confirm("정말로 삭제하시겠습니까?")){
            location.href = this.dataset.url;
        }
    });
    $('.s_post_count').click(function(){
        $('#reply-popup-layer').css('display', 'block');
        var comment_id = this.dataset.comment;
        $.ajax({
            url : "{% url 'view_reply' %}",
            type: 'get',
            data: {'comment_id': comment_id},
            datatype: 'json',
            success: function(data){
                $(".reply-list-box")[0].innerHTML = '';
                $(".reply-comment-content")[0].innerHTML = data['comment']['content'];
                $(".reply-comment-author")[0].innerHTML = '- ' + data['comment']['author'];
                $(".reply-list-box")[0].innerHTML = '';
                var node;
                if(data['reply'].length > 0){
                    $.map(data['reply'], function(reply){
                        node = document.createElement('div');
                        node.className = "reply-list";
                        var content_node = document.createElement('div');
                        var author_node = document.createElement('span');
                        var createdate_node = document.createElement('span');
                        content_node.className = "reply-list-content";
                        author_node.className = "reply-list-author";
                        createdate_node.className = "reply-list-date";
                        content_node.innerHTML = reply['content'];
                        author_node.innerHTML = '- ' + reply['author'];
                        var date = new Date(reply['create_date']);
                        createdate_node.innerHTML =  '(' +
                        date.getFullYear() + '년 ' + date.getMonth() + '월 ' + date.getDate() + '일 ' +
                        (date.getHours() > 12 ? date.getHours() % 12 : date.getHours()) + ':' + date.getMinutes() + ' ' +
                        (date.getHours() > 12 ? '오후' : '오전') + ')';
                        node.appendChild(content_node);
                        node.appendChild(author_node);
                        node.appendChild(createdate_node);
                        if(reply['author'] == '{{ request.user.nickname }}'){
                            var div = document.createElement('div');
                            div.dataset.url = "/delete_reply/" + reply['id'];
                            div.className = 'delete-reply-btn'; 
                            div.innerHTML = "삭제";
                            node.appendChild(div);
                        }
                        $(".reply-list-box")[0].appendChild(node);
                    });
                }else{
                    node = document.createElement('div');
                    node.className = "reply-list";
                    var content_node = document.createElement('div');
                    content_node.className = "reply-list-content";
                    content_node.innerHTML = '답글이 없습니다.';
                    node.appendChild(content_node);
                    $(".reply-list-box")[0].appendChild(node);
                }
                if($('.popup-content .create-reply-form')[0]){
                    var x = $('.popup-content .create-reply-form')[0];
                    $('.popup-content')[1].removeChild(x);
                }
                var form = document.createElement('div');
                form.className = 'create-reply-form';
                var textarea = document.createElement('textarea');
                var button = document.createElement('button');
                button.innerHTML = "답글 쓰기";
                button.className = "create-reply-btn";
                button.dataset.comment = comment_id;
                textarea.className = "craete-reply-area";
                // form.method = 'post';
                // form.action = '{% url "create_reply" %}?comment_id=' + comment_id;
                form.appendChild(textarea);
                form.appendChild(button);
                $('.popup-content')[1].appendChild(form);
                $('.create-reply-btn').click(function(){
                    create_reply(this.dataset.comment);
                });
                if($('.delete-reply-btn')[0]){
                    $('.delete-reply-btn').click(function(){
                                    delete_reply(this);
                    })
                }
            }
        })
    });
    
    $('.popup-exit-btn').click(function(){
        $('#reply-popup-layer').css('display', 'none');
    });

    $('.update_post_btn').click(function(){
        location.href = this.dataset.url;
    });
    
    $('.delete_post_btn').click(function(){
        if(confirm("정말로 삭제하시겠습니까?")){
            location.href = this.dataset.url;
        }
    });



    function create_reply(comment_id){
        $.ajax({
            url: "{% url 'create_reply' %}?comment_id=" + comment_id,
            type: 'post',
            data: {'content': $('.craete-reply-area')[0].value },
            dataType: 'json',
            success: function(data){
                if(data['flag'] == true){
                    $('.s_post_count[data-comment=' + comment_id +']').click();
                }else{
                    alert(data['error']);
                }
            }
        });
    }

    function delete_reply(node){
        if(confirm('정말로 삭제하시겠습니까?')){
            location.href = node.dataset.url;
        }
    }
</script>
{% endblock %}

