{% extends 'base.html' %}
{% load filter %}
{% load static %}
{% block content %}
    <link rel='stylesheet' href="{% static 'detail_post.css' %}?after=1320 ">
    <div id="post_head">
        <span class="s_post_head">zzz{{ post.category }}</span>    
    </div>
    <hr>
    <div id="post_main">
        <div id="post_writer"><span class="s_post_writer">👧🏻 {{ post.author }}</span></div>
        <div class="hits">
            <span class="s_hits">조회수 : {{post.hits}}</span> </div>
        <div id="post_title"><span class="s_post_title"> {{ post.title }}</></div>
        <hr/>
        <div id="content">{{ post.content|mark }}</div>
    </div>

    <div id="post_good">
        <a href="{% url 'post_vote' post.id %}">
            <button class ="s_post_good">추천 {{post.voter.count}} 💗</button>
            {% if post.author == request.user %}  
                <button class="s_content_delete"> <a href="{% url 'blog_delete' post.id %}">삭제</a></button>
                <button class="s_content_again"> <a href="{% url 'blog_update' post.id %}">수정</a></button>
            {% endif %}
        </a>
    </div>
    <div class="comment-list">
        {% for comment in post.comment_set.all %}
            <div id="comment{{ comment.id }}">
                <div class="post-comment-author">- {{comment.author.nickname}}</div>
                <div class="post-comment-content comment-{{comment.id}}">
                    {{comment.content}}
                </div>
                <form action="{% url 'update_comment' comment.id %}" method="post" class="update-comment form-{{comment.id}} hide">
                    {% csrf_token %}
                    <textarea name="content" id="content-{{comment.id}}" class="update-comment-area" cols="30" rows="10">{{comment}}</textarea>
                    <input class="update_comment_btn" style="margin-left:20px;" type="submit" value="수정하기">
                </form>
                <div class="post-comment-createdate">
                    {{ comment.create_date }}
                </div>
            {% if comment.author == request.user %}    
                <div class="post_button">
                    <button class="update_comment_btn" data-comment="{{comment.id}}">수정</button>
                    <button class="delete_comment_btn">삭제</button>
                </div>
            {% endif %}
            
            <div class="post_count"><span class="s_post_count">답글개수 ({{ comment.reply_set.count }})</span></div>
        </div>
        {% endfor %}
    </div> 
{% endblock %}

{% block script %}
<script>
    $('.update_comment_btn').click(function(){
        if(this.innerHTML == '수정'){
            this.innerHTML = '취소';
            $('.comment-' + this.dataset.comment).addClass('hide');
            $('.form-' + this.dataset.comment).removeClass('hide');
            // $('.form-1')
        }else{
            this.innerHTML = '수정';
            $('.comment-' + this.dataset.comment).removeClass('hide');
            $('.form-' + this.dataset.comment).addClass('hide');
        }
        
    });

</script>
{% endblock %}

