{% extends 'base.html' %}
{% block title %}
    <title>kswschool 메인 페이지</title>
{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        {% if request.user == author %}
        <a href="{% url 'blog_create' %}">글 생성</a>
        {% endif %}
    {% endif %}

    <button><a href="{% url 'index' %}?sort=hits">조회순</a></button>
    <a href="{% url 'index' %}?sort=create_date">최신순</a>
    <a href="{% url 'index' %}?sort=voter">좋아요순</a>
    {% for post in post_list %}
        
        <h1>
            <a href="{% url 'detail_post' post.id %}">
                {{ post.title }}
            </a>
        </h1>
            <p>
                <a href="{% url 'profile' post.author.nickname %}">{{ post.author }}</a>
            </p>
            <p>{{ post.content }}</p>
        <hr>
        
    {% endfor %}
    <ul class="pagination justify-content-center">
        {% if post_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ post_list.previous_page_number }}">이전</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
        {% endif %}
        
        {% for page_number in post_list.paginator.page_range %}
            {% if page_number >= post_list.number|add:-3 and page_number <= post_list.number|add:3 %}
                {% if page_number == post_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if post_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ post_list.next_page_number }}">다음</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
