{% extends 'base.html' %}
{% block title %}
    <title>kswschool 메인 페이지</title>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <a href="{% url 'create_post' %}">글 생성</a>
        {% for post in post_list %}
            <h1>
                <a href="{% url 'detail_post' post.id %}">
                    {{ post.title }}
                </a>
            </h1>
            <p>{{ post.author }}</p>
            <p>{{ post.content }}</p>
            <hr>
        {% endfor %}
    {% else %}
        {% for post in post_list %}
        {% if forloop.counter < 9 %}
        <h1>
            <a href="{% url 'detail_post' post.id %}">
                {{ post.title }}
            </a>
        </h1>
            <p>{{ post.author }}</p>
            <p>{{ post.content }}</p>
        <hr>
        {% endif %}
    {% endfor %}
    {% endif %}
    
    <!-- <div id="text">

    </div>
    <button onclick="sendRequest()">clcik</button>
    <script>
        function sendRequest(){
            var httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = function(){
                if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){
                    document.getElementById('text').innerHTML = httpRequest.responseText;
                }
            }
            httpRequest.open("GET", "/account/login", true);
            httpRequest.send();
        }
    </script> -->
{% endblock %}
