{% extends 'base.html' %}
{% block content %}
    <h4>{{ category.name }}의 게시판 입니다.</h4>
    {% if messages %}
        {% for m in messages %}
            {{ m }}
        {% endfor %}
    {% endif %}
    {% if request.user == user %}
    <a href="{% url 'update_category' user.nickname category.name %}"> 카테고리 수정??</a>
    <a href="{% url 'delete_category' user.nickname category.name %}"> 카테고리 삭제!!</a>
    {% endif %}
    <hr>   
    {% if post_list %}
       {% for p in post_list %}
            {{forloop.counter}}    
            <a href="{% url 'detail_post' p.id %}"> {{ p.title }}</a>
                {% if p.comment_set.count > 0 %}
                   ({{ p.comment_set.count }})
                {{p.content|truncatechars:7}}
                {% endif %}
                글 쓴 날짜 :
                {{ p.create_date }}
                {% if p.modify_date %}
                (수정 날짜 :
                {{ p.modify_date }} )
                {% endif %}
                <hr>
        {% endfor %}
    {% else %}
        <p>카테고리 없음.</p>
    {% endif %}
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
       {% for page_number in post_list.paginator.page_range %} 
       <li class = "page-item">
            <a class="page-link" href="?page={{page_number}}">
                {{page_number}}
            </a>
       </li>
       {% endfor %}
    </ul>
    <!-- 페이징처리 끝 -->
    
{% endblock %}